---
import Layout from '../../layouts/Layout.astro'
import { getAreaFromUrl, getInterviewFromSlug } from '../../utils/dataFinder'
import FixedLink from '../../components/FixedLink.astro'
import Hero from '../../components/Hero.astro'
import Introduction from '../../sections/areas/Introduction.astro'
import Picture from '../../components/Picture.astro'
const homeUrl = import.meta.env.BASE_URL

const area = getAreaFromUrl(Astro.request.url)
if (!area) throw new Error(`No area found`)
const interview = getInterviewFromSlug(area.linkedInterviewSlug)
if (!interview) throw new Error(`No interview found`)
const color = area.category === '人財の強化' ? 'category1' : 'category2'
---

<Layout title={area.metaTitle} description={area.metaDescription}>
  <FixedLink interview={interview} />

  <Hero
    copy="人的資本経営における6つの領域"
    title={area.title}
    slug={area.slug}
    index={area.index}
    color={color}
  />

  <Introduction copy1={area.copy1} copy2={area.copy2} />

  <section class="details inview fadeIn">
    <h2 class={`details__title category-bg ${color}`}>主な取り組み</h2>
    <div class={`details__inner ${color}`}>
      <div class="details__container">
        <div class="details__text">
          <div class="details__text-item">
            <h3 class="details__text-title">
              ①組織活性化、お客さま本位の業務運営に向けたマネジメント変革
              <span class={`category-bg ${color}`}></span>
            </h3>
            <ul class="details__text-list">
              <li>
                ●高い人財育成力や品格を有し、心理的安全性を確保できる人財をマネージャーに登用します。また、年齢や性別、国籍に捉われず、マネジメント層の多様化を進めます。
              </li>
              <li>
                ●お客さま本位の業務運営の実践に向けて、人事評価は、プロセスを重視する評価制度へ変更します。マネージャー教育を通じて適切な評価を行い、適切性については、360度評価（部下が上司を評価）を導入し、実効性を高めます。
              </li>
            </ul>
          </div>
          <div class="details__text-item">
            <h3 class="details__text-title">
              ②自律型人財の育成に向け、多様な経験を提供
              <span class={`category-bg ${color}`}></span>
            </h3>
            <ul class="details__text-list">
              <li>
                ●入社10年目までの若手社員を中心に複数部門のジョブローテーションを実施し、多様な経験の機会を提供します。
              </li>
              <li>
                ●転居を伴う異動やポストチャレンジ制度により、チャレンジ意欲のある人財の活躍のフィールドを拡大します。
              </li>
            </ul>
            <p class="details__text-small">
              <small
                >※2024年度から毎年「転居を伴う異動あり・なし」を選択できるよう制度改定を実施
              </small>
            </p>
          </div>
        </div>
        <Picture
          cl="details__picture"
          src={`${homeUrl}assets/images/${area.slug}/details_img01`}
          alt={area.title}
          width="760"
          height="760"
          format=".png"
        />
      </div>
      <div class="details__numbers">
        <h3 class={`details__numbers-title category-bg ${color}`}>目指す姿</h3>
        <div class="details__numbers-list">
          <div class="details__numbers-item">
            <p class={`details__numbers-item-people category-color ${color}`}>24.0<span>%</span></p>
            <p class="details__numbers-item-subject">
              女性管理職比率<small>（2024年4月時点：20.0％）</small>
            </p>
          </div>
          <div class="details__numbers-item">
            <p class={`details__numbers-item-people category-color ${color}`}>60.0<span>%</span></p>
            <p class="details__numbers-item-subject">
              複数部門経験率<sup>※</sup><small>（2024年4月時点：47.5％)</small>
            </p>
          </div>
        </div>
      </div>
      <p class="details__numbers-small">
        <small
          >※入社10年目の在籍社員における複数部門（営業・損害サービス・本社部門）の経験率<br />
          ※営業・損害サービス部門内の異なる領域への異動も対象に含みます</small
        >
      </p>
    </div>
  </section>
</Layout>
