---
import Layout from '../../layouts/Layout.astro'
import { getAreaFromUrl, getInterviewFromSlug } from '../../utils/dataFinder'
import FixedLink from '../../components/FixedLink.astro'
import Hero from '../../components/Hero.astro'
import Introduction from '../../sections/areas/Introduction.astro'
import Picture from '../../components/Picture.astro'
const homeUrl = import.meta.env.BASE_URL

const area = getAreaFromUrl(Astro.request.url)
if (!area) throw new Error(`No area found`)
const interview = getInterviewFromSlug(area.linkedInterviewSlug)
if (!interview) throw new Error(`No interview found`)
const color = area.category === '人財の強化' ? 'category1' : 'category2'
---

<Layout title={area.metaTitle} description={area.metaDescription}>
  <FixedLink interview={interview} />

  <Hero
    copy="人的資本経営における6つの領域"
    title={area.title}
    slug={area.slug}
    index={area.index}
    color={color}
  />

  <Introduction copy1={area.copy1} copy2={area.copy2} />

  <section class="details inview fadeIn">
    <h2 class={`details__title category-bg ${color}`}>主な取り組み</h2>
    <div class={`details__inner ${color}`}>
      <div class="details__container">
        <div class="details__text">
          <div class="details__text-item">
            <h3 class="details__text-title">
              ①当社社員の人的なネットワークを活用した安定的な採用
              <span class={`category-bg ${color}`}></span>
            </h3>
            <ul class="details__text-list">
              <li>
                ●インターンシップ等を通じ当社理解を深めた学生を採用をすることで入社後の活躍とリテンション向上を図ります。
              </li>
              <li>
                ●多様な人財確保にむけて、社員の人的ネットワークや採用イベント等を活用したリファラル採用を強化します。
              </li>
              <li>
                ●キャリアの選択肢が広がる中で、社外での経験・スキルを身に着けた元社員が、当社で再挑戦するアルムナイ採用を強化します。
              </li>
            </ul>
          </div>
          <div class="details__text-item">
            <h3 class="details__text-title">
              ②専門領域を担える多様な人財の採用
              <span class={`category-bg ${color}`}></span>
            </h3>
            <ul class="details__text-list">
              <li>
                ●専門性の高い、I
                T、デジタル、資産運用、グローバル人財等の採用にむけて、産学連携先とのつながりを強化します。
              </li>
            </ul>
          </div>
        </div>
        <Picture
          cl="details__picture"
          src={`${homeUrl}assets/images/${area.slug}/details_img01`}
          alt={area.title}
          width="760"
          height="760"
          format=".png"
        />
      </div>
      <div class="details__numbers">
        <h3 class={`details__numbers-title category-bg ${color}`}>目指す姿</h3>
        <div class="details__numbers-list">
          <div class="details__numbers-item">
            <p class={`details__numbers-item-people category-color ${color}`}>30<span>名</span></p>
            <p class="details__numbers-item-subject">の自社ネットワーク採用<sup>※1</sup></p>
          </div>
          <div class="details__numbers-item">
            <p class={`details__numbers-item-people category-color ${color}`}>30<span>名</span></p>
            <p class="details__numbers-item-subject">の専門性の高い人財を採用<sup>※2</sup></p>
          </div>
        </div>
      </div>
      <p class="details__numbers-small">
        <small
          >※リファラル・アルムナイ採用等による入社者（2025年度末累計）<br />
          ※新卒専門コース等の入社者（2025年度末累計</small
        >
      </p>
    </div>
  </section>
</Layout>
