---
import Layout from '../../layouts/Layout.astro'
import { getAreaFromUrl, getInterviewFromSlug } from '../../utils/dataFinder'
import FixedLink from '../../components/FixedLink.astro'
import Hero from '../../components/Hero.astro'
import Introduction from '../../sections/areas/Introduction.astro'
import Picture from '../../components/Picture.astro'
const homeUrl = import.meta.env.BASE_URL

const area = getAreaFromUrl(Astro.request.url)
if (!area) throw new Error(`No area found`)
const interview = getInterviewFromSlug(area.linkedInterviewSlug)
if (!interview) throw new Error(`No interview found`)
const color = area.category === '人財の強化' ? 'category1' : 'category2'
---

<Layout title={area.metaTitle} description={area.metaDescription}>
  <FixedLink interview={interview} />

  <Hero
    copy="人的資本経営における6つの領域"
    title={area.title}
    slug={area.slug}
    index={area.index}
    color={color}
  />

  <Introduction copy1={area.copy1} copy2={area.copy2} />

  <section class="details inview fadeIn">
    <h2 class={`details__title category-bg ${color}`}>主な取り組み</h2>
    <div class={`details__inner ${color}`}>
      <div class="details__container">
        <div class="details__text">
          <div class="details__text-item">
            <h3 class="details__text-title">
              ①社員の健康リテラシーを増進し、一人ひとりの仕事に対するパフォーマンス向上を引き出す
              <span class={`category-bg ${color}`}></span>
            </h3>
            <ul class="details__text-list">
              <li>
                ●衛生委員会、各種セミナー、研修開催により健康保持・増進に関する学びの機会をつくり、社員の健康 リテラシーを向上します。
              </li>
              <li>
                ●生活習慣病改善予防対策として、楽しみながら健康づくりができる健康サポートアプリを導入し、社員の健康づくりを後押しします。
              </li>
              <li>
                ●健康な体づくりに資する運動習慣を身に付けるための運動機能のチェックや社内イベントを実施します。
              </li>
              <li>
                ●健康増進に取り組むいきいきと働く社員を紹介します。
              </li>
            </ul>
          </div>
          <div class="details__text-item">
            <h3 class="details__text-title">
              ②健康や安全を保持・増進し、いきいきと働ける職場環境の整備
              <span class={`category-bg ${color}`}></span>
            </h3>
            <ul class="details__text-list">
              <li>
                ●自然災害発生時等の非常時を含めた、それそれの環境に応じて社員の健康管理を柔軟に実施できる体制をつくります。
              </li>
              <li>
                ●健診データ等を利活用しながら、休務者発生を防止する対策の検討・実施を行います。
              </li>
              <li>
                ●社内外メンタル相談窓口を積極的に案内・活用を促し、不安を抱える社員をサポートします。
              </li>
              <li>
                ●全社員へストレスチェックの実施を通じて各職場の状況を分析し、いきいきと働ける職場づくりを支援します。
              </li>
            </ul>
          </div>
        </div>
        <Picture
          cl="details__picture"
          src={`${homeUrl}assets/images/${area.slug}/details_img01`}
          alt={area.title}
          width="760"
          height="760"
          format=".png"
        />
      </div>
      <div class="details__numbers custom-layout">
        <h3 class={`details__numbers-title category-bg ${color}`}>目指す姿</h3>
        <div class="details__numbers-list">
          <div class="details__numbers-item">
            <p class={`details__numbers-item-people item-textOnly category-color ${color}`}>
              前年同水準以上
            </p>
            <p class="details__numbers-item-subject">
              エンゲージメント指標<sup>※1</sup>
            </p>
          </div>
          <div class="details__numbers-item">
            <p class={`details__numbers-item-people category-color ${color}`}>
              30<span class="item-textSmall">%以上</span>
            </p>
            <p class="details__numbers-item-subject">
              運動習慣者比率<sup>※2</sup>
            </p>
          </div>
        </div>
      </div>
      <p class="details__numbers-small">
        <small
          >※1「3つのテーマにおける設問」
          <ul class="details__numbers-smallIndent">
            <li>＜エンゲージメント＞私は、今の仕事に誇りと働きがいを持っている</li>
            <li>＜活力＞私は、仕事をしていると、活力がみなぎるように感じる</li>
            <li>＜情熱＞私は、仕事を熱心に取り組んでいる</li>
          </ul>
          ※2「1回30分以上の軽く汗をかく運動を、週2日以上、1年以上実施」の運動習慣のある社員の比率</small
        >
      </p>
    </div>
  </section>

  <section class="figure">
    <div class="figure__container figure__inner">
      <h2 class="figure__title">
        <img src={`${homeUrl}assets/images/common/sub-title-line.svg`} alt="縦線" width="6" height="22">
        健康経営優良法人（大規模法人部門＜ホワイト500＞）の継続認証
      </h2>
      <div class="figure__linebox">
        <p class="figure__text">
          経済産業省と日本健康会議が主催する健康経営優良法人認定制度において、「健康経営優良法人・大規模法人部門」に2017年度より認定されており、2022年度以降は上位500社以内企業である「健康経営優良法人（大規模法人部門＜ホワイト500＞）」に認定されています。<br />本制度は特に優良な健康経営を実践している大企業や中小企業等の法人を顕彰するもので、健康経営に取り組む法人を「見える化」し、ステークホルダーから社会的な評価を受けられる環境を整備することを目的としています。
        </p>
        <Picture
            cl="figure__health-logo"
            src={`${homeUrl}assets/images/health-management/figure_img01`}
            alt="健康経営優良法人2024 Health and productivity ホワイト500 ロゴ"
            width="180"
            height="160"
            format=".png"
            noSp={true}
          />
      </div>
      <p class="figure__text">
        健康経営戦略マップやその他当社の体制などの詳細は<a href="https://www.aioinissaydowa.co.jp/sustainability/health_productivity/">こちら</a>でもご紹介しています。
      </p>
    </div>
  </section>
</Layout>
